.logIn-wrapper{
    width: 590px;
    height: 635px;
    border-radius: 5px;
    background-color: #fff;
    position: absolute;
    margin: 4% 30%;
    box-shadow: 0px 1px 50px 0px lightblue;
}
.icon{
    position: relative;
    left: 41%;
    top: -8%;
}
.login-text{
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    /* font-family: 'Public Sans'; */
    line-height: 31px;
    color: #0078F080;
    text-align: center;
    margin: 0;
}
.hello-text{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #00000099;
    text-align: center;
    margin-top: 52px;
}
.emailInput{
    text-align: center;
    margin-top: 37px;
    position: relative;
}
.emailInput img{
    position: absolute;
    right: 160px;
}
.emailInput input{
    width: 49%;
    border: none;
    border-bottom: 2px solid #00000070;
    font-style: normal;
    font-weight: 400;
    font-size: 17.9255px;
    line-height: 21px;
}
.passInput{
    text-align: center;
    margin-top: 37px;
    position: relative;
}
.passInput img{
    position: absolute;
    right: 160px;
}
.passInput input{
    width: 49%;
    border: none;
    border-bottom: 2px solid #00000070;
    font-style: normal;
    font-weight: 400;
    font-size: 17.9255px;
    line-height: 21px;
}
.button{
    width: 288.09px;
    height: 51.22px;
    background-color: #0078F01A;
    text-align: center;
    color: #0078F0;
    box-sizing: border-box;
    border: 1px solid #0078F0;
    border-radius: 10px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 500;
    font-size: 15.3647px;
    line-height: 18px;
    margin-top: 168px;
    cursor: pointer;
}
.profilePic{
    display: flex;
    margin: 50px auto;
}
#button{
    margin-top: 70px;
}
